div.card-header{
background-color: #000000;
width: 100%;
}

.wrapper{
  background-color: #e3afc7;
}

div.card-body{
  padding: 0;
  background-color: #e3afc7;
  height: 650px;
}

img.main {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

div.card{
  border: 0;
  background-color: #e3afc7;
}

div.text{
  max-width: 370px;
  padding:20px;
}

h1.card-title{
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
  text-align: left;
  font-size: 50px;
}

p.card-text{
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  line-height: 2;
  padding-top: 20px;
  color: #0F0F0F;
}

form{
padding: 30px 0 0;
}
input{
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #fcc2de;
}
input:focus {
    outline: none !important;
    border:2px solid #fcc2de;
  }
button.send_button{
  width: 100%;
  height:54px;
  padding: 8px 18px;
  color:#efefef;
  background-color: #0F0F0F;
  border: 1px solid #0F0F0F;
  text-align: center;
  border-radius: 5px;
  font-family: 'Fredoka One', cursive;
  font-size: 24px;
}
div.card-footer{
  padding: 30px 20px;
  text-align: left;
  background-color: #EBEDEE;
}

.footerParagraph{
  font-family: 'Fredoka One', cursive;
  color: #0F0F0F;
  font-size: 18px;
}
.description{
  color: #6f737d;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  padding-top: 10px;
}
.copyright{
  color: #0F0F0F;
  font-size: 14px;
  padding: 10px 0 10px;
  margin-bottom: 0;
}

@media (max-width:310px){
  h1.card-title{
    font-size: 30px;
  }
  p.card-text{
    font-size: 18px;
    line-height: normal;
  }
  button.send_button{
    height: auto;
    font-size: 16px;
  }
}
@media (max-width:575px){
  div.card-body{
    height: auto;
  }
  div.card-body.text{
    padding-bottom: 30px;
  }
}
@media (max-width:600px){
  h1.card-title{
    font-size: 40px;
  }
  button.send_button{
    height: auto;
    font-size: 20px;
  }
}
